.error-login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-color-white);
    border-radius: 50px;
    padding: 2rem;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
}

@media screen and (min-width: 768px) {
    .error-login__container{
        width: 50%;
        padding: 3rem 2rem 5rem 3rem;;
    }
}